<div class="updatePassword">
	<div class="head-title">
		修改密码
		<a class="title-right-link" routerLink="/admin">
			<i class="anticon anticon-arrow-left"></i>返回
		</a>
	</div>
  	<div class="content">
    	<form nz-form [formGroup]="passwordForm">
    		<nz-form-item [class.has-error]="passwordFormSubmitted && passwordForm.get('password').errors">
			    <nz-form-label nzRequired [nzSm]="8" [nzXs]="24" nzFor="password">旧密码</nz-form-label>
			    <nz-form-control [nzSm]="12" [nzXs]="12">
			      	<input nz-input formControlName="password" type="password" placeholder="6-12位字符">
					<nz-form-explain *ngIf="(passwordForm.get('password').dirty || passwordFormSubmitted) && passwordForm.get('password').errors">
		          		<span *ngIf="passwordForm.get('password').errors?.required">请输入旧密码！</span>
		          		<span *ngIf="passwordForm.get('password').errors?.pattern">请输入6-12位数字或者字母</span>
		          	</nz-form-explain>
			    </nz-form-control>
			</nz-form-item >
    		<nz-form-item [class.has-error]="passwordFormSubmitted && passwordForm.get('new_password').errors">
			    <nz-form-label nzRequired [nzSm]="8" [nzXs]="24" nzFor="new_password">新密码</nz-form-label>
			    <nz-form-control [nzSm]="12" [nzXs]="12">
			      	<input nz-input formControlName="new_password" type="new_password" placeholder="6-12位字符">
			      	<nz-form-explain *ngIf="(passwordForm.get('new_password').dirty || passwordFormSubmitted) && passwordForm.get('new_password').errors">
		          		<span *ngIf="passwordForm.get('new_password').errors?.required">请输入新密码！</span>
		          		<span *ngIf="passwordForm.get('new_password').errors?.pattern">请输入6-12位数字或者字母</span>
		          	</nz-form-explain>
			    </nz-form-control>
			</nz-form-item >
    		<nz-form-item [class.has-error]="passwordFormSubmitted && passwordForm.get('repeatPassword').errors || passwordForm.get('new_password').value && passwordForm.get('new_password').value != passwordForm.get('repeatPassword').value">
			    <nz-form-label nzRequired [nzSm]="8" [nzXs]="24" nzFor="repeatPassword">确认密码</nz-form-label>
			    <nz-form-control [nzSm]="12" [nzXs]="12">
			      	<input nz-input formControlName="repeatPassword" type="repeatPassword" placeholder="6-12位字符">
			      	<nz-form-explain *ngIf="(passwordForm.get('repeatPassword').dirty || passwordFormSubmitted) && (passwordForm.get('repeatPassword').errors || passwordForm.get('new_password').value != passwordForm.get('repeatPassword').value)">
		          		<span *ngIf="passwordForm.get('repeatPassword').errors?.required">请再次输入新密码！</span>
		          		<span *ngIf="passwordForm.get('repeatPassword').errors?.pattern">请输入6-12位数字或者字母</span>
		          		<span *ngIf="passwordForm.get('new_password').value && passwordForm.get('new_password').value != passwordForm.get('repeatPassword').value && !passwordForm.get('repeatPassword').errors?.pattern && !passwordForm.get('repeatPassword').errors?.required">两次输入新密码不相同，请重新输入</span>
		          	</nz-form-explain>
			    </nz-form-control>
			</nz-form-item >
			<div class="submit">
				<button 
					nz-button 
					nzType="primary" 
					nzSize="large" 
					[style.width.px]=100
					(click)="updatePassword()">提交</button>
			</div>
    	</form>
  	</div>
</div>