<div class="pass">
	<div class="box">
		<div class="header clearfix">
			<div class="logo" routerLink="/" title="返回我的工作表"></div>
			<div class="title">忘记密码</div>
		</div>
		<div class="content">
			<form nz-form [formGroup]="passForm">
				<nz-form-item [class.has-error]="passFormSubmitted && passForm.get('mobile').errors">
			        <nz-form-control>
			          	<nz-input-group nzPrefixIcon="anticon anticon-user">
			            	<input type="text" nz-input formControlName="mobile" placeholder="手机号">
			          	</nz-input-group>
			          	<nz-form-explain *ngIf="(passForm.get('mobile').dirty || passFormSubmitted) && passForm.get('mobile').errors">
			          		<span *ngIf="passForm.get('mobile').errors?.required">请输入手机号码！</span>
			          		<span *ngIf="passForm.get('mobile').errors?.pattern">请输入正确的手机号码！</span>
			          	</nz-form-explain>
			        </nz-form-control>
		      	</nz-form-item>
				<nz-form-item [hidden]="passForm.get('mobile').errors" [class.has-error]="passFormSubmitted && passForm.get('vcode').errors">
			        <nz-form-control>
			          	<nz-input-group [nzSuffix]="suffixButton" nzSearch>
			            	<input type="text" nz-input formControlName="vcode" placeholder="验证码">
			            	<ng-template #suffixButton>
						      	<button [disabled]="vcodeText != '发送验证码' && vcodeText != '再次发送验证码'" style="width: 130px;" nz-button nzSearch (click)="getVcode()">{{vcodeText}}</button>
						    </ng-template>
			          	</nz-input-group>
			          	<nz-form-explain *ngIf="(passForm.get('vcode').dirty || passFormSubmitted) && passForm.get('vcode').errors">请输入验证码！</nz-form-explain>
			        </nz-form-control>
		      	</nz-form-item>
		      	<nz-form-item [class.has-error]="passFormSubmitted && passForm.get('password').errors">
			        <nz-form-control>
			          	<nz-input-group nzPrefixIcon="anticon anticon-lock">
			            	<input type="password" nz-input formControlName="password" placeholder="新密码">
			          	</nz-input-group>
			          	<nz-form-explain *ngIf="(passForm.get('password').dirty || passFormSubmitted) && passForm.get('password').errors">
			          		<span *ngIf="passForm.get('password').errors?.required">请输入新密码！</span>
			          		<span *ngIf="passForm.get('password').errors?.pattern">请输入6-12位数字或者字母</span>
			          	</nz-form-explain>
			        </nz-form-control>
		      	</nz-form-item>
		      	<nz-form-item [hidden]="passForm.get('password').errors" [class.has-error]="passFormSubmitted && passForm.get('passwordAgain').errors || (passForm.value.password && passForm.value.passwordAgain && passForm.value.password != passForm.value.passwordAgain)">
			        <nz-form-control>
			          	<nz-input-group nzPrefixIcon="anticon anticon-lock">
			            	<input type="password" nz-input formControlName="passwordAgain" placeholder="确认新密码">
			          	</nz-input-group>
			          	<nz-form-explain *ngIf="(passForm.get('passwordAgain').dirty || passFormSubmitted) && (passForm.get('passwordAgain').errors || passForm.value.password != passForm.value.passwordAgain)">
			          		<span *ngIf="passForm.get('passwordAgain').errors?.required">请确认新密码！</span>
			          		<span *ngIf="!passForm.get('passwordAgain').errors && passForm.value.password != passForm.value.passwordAgain">两次输入密码不一致！</span>
			          		<span *ngIf="passForm.get('passwordAgain').errors?.pattern">请输入6-12位数字或者字母</span>
			          	</nz-form-explain>
			        </nz-form-control>
		      	</nz-form-item>
			    <button class="submit" nz-button nzType="primary" (click)="updatePassWord()" [nzLoading]="isLoading">重置密码</button>
			    <div class="foot cleafix">
			    	<div class="f-l">
			    		已有账号？<a routerLink="/login">马上登录</a>
			    	</div>
			    	<div class="f-r">
			    		<a routerLink="/register">立即注册</a>
			    	</div>
			    </div>
		    </form>
		</div>
	</div>
</div>

